.Home {
  text-align: center;
}

.Home-header {
  height: 150px;
  color: white;
  font-family: fantasy;
  padding-top: 50px;
  margin-left: -60px;
  font-size: 80px;
}

.Home-intro {
  font-size: 20px;
  font-family: fantasy;
  margin-left: -60px;
}

.Header {
  position: fixed;
  width: 100vw;
  text-align: right;
}

.backgroundMain {
  background-image:url('./images/homeBackground.jpg');
  height: 725px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
